* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: center;
  background-color: black;
}
a {
  text-decoration: none;
  padding: 10px 15px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  /* border: 1px solid gray; */
}
.logOutBtn {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}
.createPostPage{
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cpContainer {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid black;
  font-size: 2rem;
  text-align: center;
  border-radius: 8px;
}
.inputContainers {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1rem;
}
.inputContainers label {
  font-weight: bold;
  font-size: 1.5rem;
}
.inputContainers input,
textarea {
  padding: 10px;
  width: 30vw;
  font-size: 1.3rem;
}
.createPostBtn {
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.homePage {
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}
.post {
  border-radius: 8px;
  width: 40vw;
  padding: 10px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.226);
}
.postHeading {
  display: flex;
  justify-content: space-between;
}
.delBtn {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.postTitle {
  text-align: center;
}
.postText {
  font-size: 1rem;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.091);  
  margin: 1rem;
  padding: 1rem;

}
.loginPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.loginHeading {
  font-size: 2rem;
  color: gray;
  font-weight: bold;
}
.loginBtn {
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.283);
  border-radius: 8px;
}